.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin: 20px;
}

.App-name {
  font-size: calc(7px + 2vmin);
  font-weight: 600;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 2px solid white;
  width: 25vw;
  height: 30vh;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 0.7em;
}

.card > p {
  font-size: calc(2px + 2vmin);
  margin: 10px 5px;
}

.card > h6 {
  margin: 10px 0 2px 0;
}

.search {
  display: flex;
  gap: 5px;
}

.search input {
  font-size: calc(2px + 1.5vmin);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.sighting-container {
  margin: 1em 8em;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0 2em;
  text-align: left;
}

.sighting-label {
  font-size: calc(2px + 2vmin);
  font-weight: 700;
  text-decoration: underline;
  padding: 0;
}

.sighting-detail {
  font-size: calc(2px + 2vmin);
  padding: 0;
  margin: 0 0 3em 0;
}

.sighting-back-button {
  padding: 8px 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin: 20px 0 -50px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.sighting-back-button:hover {
  background-color: gray;
  transition: 300ms ease-in-out;
}

.btn {
  background-color: #e63946;
  color: white;
  border: 0px;
  margin: 0 4px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 50%;
  transition: all ease-in-out;
  transition-duration: 300ms;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 20px;
  border: 2px solid white;
  gap: 2px;
}

.form input {
  padding: 10px;
  border-radius: 10px;
  width: 50vw;
}

.form textarea {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
  width: 50vw;
  height: 20vh;
}

.comment-label {
  font-size: 0.7em;
  margin-top: 5em;
}
